
{% extends 'base.html' %}


{%block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bookmark-page' %}">Bookmark</a></li>
    <li class="breadcrumb-item"><a href="{% url 'bookmark-category' %}">Category</a></li>

    <li class="breadcrumb-item active">{{cat.title}}</li>
  </ol>

<div class="container mt-1">
    <a href="{%url 'bookmark-add' cat.id %}" class="btn btn-block btn-sm btn-success mb-2">Add New Bookmark</a>
    <div class="row ">
 
        {% for bookmark in cat.bookmarks.all %}
       
        <div class="col-md-4">
            <div class="card border border-secondary mb-2">
                <div class="card-header bg-info text-white">
                    <h4 class="d-inline">{{bookmark.title}}</h4>
                    <span class="float-right"><a href="{%url 'bookmark-delete' cat.id bookmark.id %}" class="btn btn-sm btn-danger">Delete</a></span>
                </div>
                <div class="card-body">
                   <p>{{bookmark.description}}</p>

                </div>
                <div class="card-footer">
                    <a href="{{bookmark.url}}" class="btn btn-info btn-block">Visit</a>
                    <a href="{% url 'bookmark-edit' cat.id bookmark.id %}" class="btn btn-primary btn-block">Edit</a>
                </div>
            </div>
        </div> <!--col-md-4-->

        {% endfor %}
       
    

        <!--col-md-4-->


<!--col-md-4-->
    </div>
</div>


{% endblock %}